@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Red Hat Display';
    sans-serif;
    min-height: 100vh;
    background-image: url('images/pattern-background-desktop.svg');
    background-repeat: no-repeat;
    background-color: hsl(225, 100%, 94%);
    position: relative;
}
.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 450px;
    background-color: white;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.content {
    padding: 7%;
    margin: 7%;
    margin-top: 1%;
    text-align: center;
}
.content p{
    color: hsl(224, 23%, 55%);
    font-size:16px;
    margin-bottom: 20px;
}
.content h2{
    color: hsl(223, 47%, 23%);
    margin-bottom: 20px;
    font-size:32px;
}
.plain-box {
    background-color: hsl(225, 100%, 98%);
    display: flex;
    justify-content: space-between;
    padding: 5%;
    max-height: 80px;
    border-radius: 15px;
    position:relative
}
.AnualPrice{
    position:absolute;
    left:25%;
}
.AnualPrice h4{
    color: hsl(223, 47%, 23%);
}
.AnualPrice p{
    color: hsl(224, 23%, 55%);
}
.plain-box a{
    margin-top:9px;
}
.Payment {
    color: rebeccapurple;
    height: 40px;
    border-radius: 15px;
    margin-top: 20px;
    background-color: white;
    text-align: center;
    font-size: 20px;
    position: relative;
    transition-duration: 0.4s;
}
.Payment:hover{
    background-color:rebeccapurple;
    color: white;
    box-shadow:  0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.Payment h5{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.Cancel {
    height: 40px;
    border-radius: 15px;
    margin-top: 10px;
    background-color: white;
    text-align: center;
    font-size: 20px;
    color: rebeccapurple;
    position: relative;
    transition-duration: 0.4s;
}
.Cancel:hover{
    background-color:rebeccapurple;
    color: white;
    box-shadow:  0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.Cancel h5{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

        .attribution a {
            color: hsl(228, 45%, 44%);
        }